* {
    padding: 0;
    margin: 0;
}


/* Element [Tag] */

body {
    background: linear-gradient(45deg, #02401f, #008080);
}

section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    /* border: solid 1px; */
}

article {
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}


/* Changing the nature from block to block-inline*/

nav>ul>li {
    display: inline-block;
    padding: 10px, 3px;
}

.title {
    font-size: 23px;
    font-weight: bold;
}

.date {
    font-style: italic;
    font-size: 15px;
    text-transform: capitalize;
}

#clear {
    clear: left;
}


/* The style for the navigation */

.liOne a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liOne a:hover {
    background-color: #111;
}

nav {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    position: relative;
}

.ulClass {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: column;
}


/* .liOne {
    float: left;
    border-right: 2px solid #bbb;
}

.liOne:last-child {
    border-right: none;
} */


/* Styling for a better use of the blog */

ol {
    position: relative;
    left: 2.5em;
}

.listClass {
    position: relative;
    left: 2.5em;
}

@media screen and (min-width: 500px) {
    .ulClass {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: center;
        flex-direction: unset;
    }
    section {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 15px 30px;
        margin: 40px;
    }
}